<a
  class="site-brand"
  href="{{ brand_href | default('/') }}"
  aria-label="Apollos Engineering Bug Board home"
>
  <svg
    class="site-brand-mark"
    viewBox="0 0 32 32"
    aria-hidden="true"
    focusable="false"
  >
    <defs>
      <path
        id="apollos-a-shape"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M8.848 0h4.91l8.848 24H0L8.848 0Zm-2.322 19.44h9.566L11.45 5.836h-.281L6.526 19.44Z"
      />
      <clipPath id="apollos-a-clip">
        <use href="#apollos-a-shape" transform="translate(4.697 4)" />
      </clipPath>
    </defs>
    <use
      class="site-brand-board"
      href="#apollos-a-shape"
      transform="translate(4.697 4)"
    />
    <g clip-path="url(#apollos-a-clip)">
      <g
        class="site-brand-traces"
        fill="none"
        stroke-linecap="butt"
        stroke-linejoin="miter"
      >
        <path d="M13.8 4.8v3l-1.5 1.5v3.5" />
        <path d="M4.8 23.2h2.8l1.8-1.8v-3.6l1.4-1.4" />
        <path d="M18.2 5.2v3.6l1.5 1.5v3.4" />
        <path d="M27.2 24.4h-3.8l-1.8-1.8v-3.8" />
        <path d="M5.6 26.2h6.3l1.5-1.5" />
        <path d="M26.4 26.2h-6.3l-1.5-1.5" />
      </g>
      <g class="site-brand-nodes">
        <rect x="11.1" y="11.6" width="2.4" height="2.4" rx=".25" />
        <rect x="9.6" y="15.2" width="2.4" height="2.4" rx=".25" />
        <rect x="18.5" y="12.5" width="2.4" height="2.4" rx=".25" />
        <rect x="20.4" y="17.6" width="2.4" height="2.4" rx=".25" />
        <rect x="12.2" y="23.5" width="2.4" height="2.4" rx=".25" />
        <rect x="17.4" y="23.5" width="2.4" height="2.4" rx=".25" />
      </g>
      <g class="site-brand-vias">
        <rect x="11.9" y="12.4" width=".8" height=".8" />
        <rect x="10.4" y="16" width=".8" height=".8" />
        <rect x="19.3" y="13.3" width=".8" height=".8" />
        <rect x="21.2" y="18.4" width=".8" height=".8" />
        <rect x="13" y="24.3" width=".8" height=".8" />
        <rect x="18.2" y="24.3" width=".8" height=".8" />
      </g>
    </g>
  </svg>
  <span class="site-brand-copy">
    <strong class="site-brand-name">Apollos</strong>
    <span class="site-brand-product">
      Engineering <span class="site-brand-node" aria-hidden="true"></span> Bug Board
    </span>
  </span>
</a>
