<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='pico.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Bug Board</a></li>
        </ul>
        <ul>
          <li><a href="{{ url_for('team') }}">Engineering Teams</a></li>
        </ul>
        {% block header_nav %}{% endblock %}
      </nav>
    </header>
    <main class="container">{% block content %}{% endblock %}</main>
    <footer class="container">
      <h6>SRE</h6>
      <ul>
        <li>
          <a
            href="https://cloud.astronomer.io/cljsvo8d800yz01giqt70a7e7/dags?status=failed&state=active"
            target="_blank"
            rel="noopener noreferrer"
            >Failing DAGs</a
          >
        </li>
        <li>
          <a href="https://differential-ka.sentry.io/issues" target="_blank" rel="noopener noreferrer">Sentry Issues</a>
        </li>
        <li>
          <a href="https://telemetry.betterstack.com/team/278287/tail?s=1201580" target="_blank" rel="noopener noreferrer">BetterStack Logs</a>
        </li>
        <li>
          <a href="https://apollos-metabase-app-8bc87d621513.herokuapp.com/" target="_blank" rel="noopener noreferrer">Metabase (Data)</a>
        </li>
      </ul>
    </footer>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
