{% extends "base.html" %}

{% block title %}Apollos Bug Board{% endblock %}

{% block extra_head %}
<style>
  #score-tooltip[data-tooltip]::before {
    font-size: 0.7em;
  }
</style>
{% endblock %}

{% block header_nav %}{% endblock %}

{% block content %}
    <h2>Priority Bug Stats</h2>
    <form method="get" style="display:inline-block; margin-bottom: 0.5em;">
      <select name="days" onchange="this.form.submit()">
        <option value="7"  {{ 'selected' if days == 7 else '' }}>7d</option>
        <option value="30" {{ 'selected' if days == 30 else '' }}>30d</option>
        <option value="90" {{ 'selected' if days == 90 else '' }}>90d</option>
      </select>
    </form>
      <div class="grid">
        <div>
          <article>
            <header>New</header>
            <h1>{{ issue_count }}</h1>
          </article>
        </div>
        <div>
          <article>
            <header>Average Speed</header>
            <h1>
              {{ fixes_per_day|round(2) }} <sup><small>fixes/day</small></sup>
            </h1>
          </article>
        </div>
        <div>
          <article>
            <header>Priority Work Ratio</header>
            <h1>{{ priority_percentage }}%</h1>
          </article>
        </div>
      </div>
      <div class="grid">
        <div>
          <article>
            <header>Average Queue Time</header>
            <h1>{{ queue_time_data["avg"] }}d</h1>
          </article>
        </div>
        <div>
          <article>
            <header>Average Resolution Time</header>
            <h1>{{ lead_time_data["avg"] }}d</h1>
          </article>
        </div>
        <div>
          <article>
            <header>p95 Resolution Time</header>
            <h1>{{ lead_time_data["p95"] }}d</h1>
          </article>
        </div>
      </div>
      <article>
        <div>
          <canvas id="myChart"></canvas>
        </div>
      </article>
      <hr />
      <h2>Open Items</h2>
      <details open>
        <summary>Priority</summary>
        {% for issue in priority_issues %}
        <div class="card">
          <article>
            <a href="{{ issue.url }}">{{ issue.title }}</a>
            <small
              >({% if issue.platform %}{{ issue.platform }}, {% endif %}+{{
              issue.daysOpen }}d{% if issue.assignee %}, {{ issue.assignee.name|first_name
              }}{% endif %})
            </small>
          </article>
        </div>
        {% endfor %}
      </details>
      <hr />
      <details>
        <summary>Non-priority</summary>
        {% for issue in open_assigned_work %}
        <div class="card">
          <article>
            <a href="{{ issue.url }}">{{ issue.title }}</a>
            <small
              >({% if issue.platform %}{{ issue.platform }}, {% endif %}+{{
              issue.daysOpen }}d, {{ issue.assignee.name|first_name }})
            </small>
          </article>
        </div>
        {% endfor %}
      </details>
      <hr />
      <h2>Leaderboard ({{ days }}d)</h2>
      <h4>
        Scores
        <small
          id="score-tooltip"
          data-tooltip="4pts for high, 2pts for medium, 1pt for low"
          style="font-size: 0.8em; opacity: 0.6;"
          >ⓘ</small>
      </h4>
      <table>
        <tbody>
          {% for assignee in completed_issues_by_assignee %}
          <tr>
            <td>
              {% if assignee in username_to_slug %}
                <a href="{{ url_for('team_slug', slug=username_to_slug[assignee], days=days) }}">
                  {{ assignee|first_name }}
                </a>
              {% else %}
                {{ assignee|first_name }}
              {% endif %}
            </td>
            <td>{{ completed_issues_by_assignee[assignee]["score"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        {% for platform in issues_by_platform %}
        '{{ platform }}',
        {% endfor %}
      ],
      datasets: [{
        label: 'New Priority Bugs',
        data: [
          {% for platform in issues_by_platform %}
          {{ issues_by_platform[platform] | length }},
          {% endfor %}
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            stepSize: 1,
          }
        }
      }
    }
  });
</script>
{% endblock %}
