<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='pico.min.css') }}"
    />
    <title>Apollos Bug Board</title>
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Apollos Bug Board</h1>
        <p>Dashboard for tracking customer support in Apollos</p>
      </hgroup>
      <h2>Priority Issues</h2>
      <div class="grid">
        <div>
          <article>
            <header>Count (1mo)</header>
            <h1>{{ completed_issue_count }}</h1>
          </article>
        </div>
        <div>
          <article>
            <header>Average Resolution Time</header>
            <h1>{{ lead_time_data["avg"] }}d</h1>
          </article>
        </div>
        <div>
          <article>
            <header>p95 Resolution Time</header>
            <h1>{{ lead_time_data["p95"] }}d</h1>
          </article>
        </div>
      </div>
      <h2>Open</h2>
      {% for issue in priority_issues %}
      <div class="card">
        <a href="{{ issue.url }}">{{ issue.title }}</a>
        {% if issue.assignee %} <small>({{ issue.assignee.name }})</small> {%
        endif %}
        <hr />
      </div>
      {% endfor %}
    </main>
  </body>
</html>
