{% extends "base.html" %}

{% block title %}{{ person_name|first_name }}{% endblock %}

{% block header_nav %}
<ul>
  <li><a href="{{ url_for('team_slug', slug=person_slug, days=7) }}">7d</a></li>
  <li><a href="{{ url_for('team_slug', slug=person_slug, days=30) }}">30d</a></li>
  <li><a href="{{ url_for('team_slug', slug=person_slug, days=90) }}">90d</a></li>
</ul>
{% endblock %}

{% block content %}
      <h2>{{ 'Current Support Work' if on_call_support else 'Current Cycle Work' }}</h2>
      {% if open_current_cycle %}
      {% for project, issues in open_current_cycle.items() %}
      <details open>
        <summary>{{ project }}</summary>
        {% for issue in issues %}
        <div class="card">
          <article>
            <a href="{{ issue.url }}">{{ issue.title }}</a>
          </article>
        </div>
        {% endfor %}
      </details>
      {% endfor %}
      {% else %}
        <p>(Empty)</p>
      {% endif %}
      <h2>Other Work</h2>
      {% for project, issues in open_other.items() %}
      <details>
        <summary>{{ project }}</summary>
        {% for issue in issues %}
        <div class="card">
          <article>
            <a href="{{ issue.url }}">{{ issue.title }}</a>
          </article>
        </div>
        {% endfor %}
      </details>
      {% endfor %}
      <hr />
      <h2>Completed ({{ days }}d)</h2>
      {% for project, issues in completed_by_project.items() %}
      <details>
        <summary>{{ project }}</summary>
        {% for issue in issues %}
        <div class="card">
          <article>
            <a href="{{ issue.url }}">{{ issue.title }}</a>
          </article>
        </div>
        {% endfor %}
      </details>
      {% endfor %}
{% endblock %}
