{% extends "base.html" %}

{% block title %}Engineering Teams{% endblock %}

{% block content %}
      <h2>Engineering Teams</h2>
      <h3>Platforms</h3>
      <ul>
      {% for platform, members in platform_teams|dictsort %}
        <li>
          {{ platform.replace('-', ' ').title() }}:
          {% for member in members %}
            {{ member.name }}{% if member.lead %} (Lead){% endif %}{% if not loop.last %}, {% endif %}
          {% endfor %}
        </li>
      {% endfor %}
      </ul>
      <hr />
      <h3>All Developers</h3>
      <p>{{ ', '.join(developers) }}</p>
      <hr />
      <h3>On Call Support</h3>
      <p>{{ ', '.join(on_call_support) }}</p>
{% endblock %}
